.bloque1{
	display: block;
	text-align: center;

}

.bloque1 h1{
	color:#29385D;
	font-size:25px;
	padding-top:20px;
	padding-bottom: 30px;
	
}

.bloque1 nav{
	
	color:#B4B4B4;
	font-size: 16px;
}

.bloque1 a{
	text-decoration: none;
	display: inline-block;
	margin-left:70px;
	padding-bottom: 30px;
	color:#B4B4B4;
}

.image1{
	background-image: url(../img/dance_1.jpg);
	height: 400px;
}

.bloque2{
  padding-left: 10%;

}

.bloque2 h1{
	padding-top: 70px;
  font-size: 65px;
  color: #C3C6C4;
}

.bloque2 p{
	color:#828E9F;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bloque2 .boton1{
	background-color:#020E1E;
	border:solid 2px #020E1E;
	color: #828E9F;
	padding: 7px;
	padding-left: 7px;
	width: 100px;
	font-size: 14px;
	text-align: center;
}

.bloque3{
	text-align: center;
	display: block;
	margin: 0 auto;
	background-image: url(../img/textura_2.jpg);
	background-repeat: repeat;
	padding:10% ;

}

.bloque3 p{
  font-size: 22px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  color:#1E1E1E;
}

.bloque3 .image2{
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
}

.bloque3 .boton2{
  background-color: #152141;
  border:solid 2px #152141;
  border-radius: 5px;
	color: #687698;
	padding: 7px;
	padding-left: 7px;
	width: 220px;
	height: 60px;
	font-size: 20px;
	text-align: center;
  margin-bottom: 70px;
}


.imagen-fondo1{
	background-image: url(../img/instructor_4.jpg);
	height: 320px;
}

.imagen-fondo2{
	background-image: url(../img/profesor_9.jpg);
	height: 320px;
}

.nues-prof{
	height: 320px;
}
.box1{
	background-color: #1A2952;
  font-size: 20px;
  color: #B0BDCD;
  padding: 2% 0;
  width: 400px;
  text-align: center;
  position: relative;
  top: -77px;
  margin: auto;
}

.image3{
	background-image: url(../img/textura_2.jpg);
	background-repeat: repeat;
	padding:10% ;
}

.image3 p{
	font-size: 40px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-family: Latolight;
	color:#1B1B1B;
}

.fondo-color1{
	background-color: #1A2952;
	height: 530px;
}


.fondo-color1 .bloque4{
	margin: 0 auto;
  text-align: left;
  padding: 6%;
}

.bloque-4 p{
	font-size:14px; 
}

.bloque-4 h3{
	font-size: 18px;
}

.map{
	width: 600px;
  height: 350px;
}


#contac {
	padding: 5% 10%;
    background-image: url(../img/shoes_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

#contac input {
    border: 2px #E3E3E3 solid;
    padding-left: 40px;
    margin: 1% 0;
    width: 100%;
    height: 40px;
}
textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	margin: 1% 0;
    border-radius: 3px;
    border: 2px #E3E3E3 solid;
    padding: 2% 40px;
    background: transparent;
}
#contac button{
    width: 100%;
    height: 40px;
    margin: 1% 0;
    border:none;
    background: #1A2952;
    font-size:13px;
    color: white;
}

#contac h3{
	font-size: 25px;
    font-weight: bold;
    color: #192951;
}
form .nombre{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 20px;
    background-position: 10px;
    background-repeat: no-repeat;
}
form .email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 20px;
    background-position: 10px;
    background-repeat: no-repeat;
}
form .mensaje{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 20px;
    background-position: 10px;
    background-repeat: no-repeat;
}

footer{
  height: 70px;
  background-color: #192951;
  padding: 2%;
}































































































































































































